.frame{
  border: solid 2px gray;
  margin:  5% 3% 5%;
  padding: 10px;
}

.study-block {
    border: solid 2px gray;
    width: 23% ;
      margin-top: 5px ;
      margin-bottom: 5px;
}
  
#study-block-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

